html {
    scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    height: 80vh;
    background-color: #fff;
}
.cabeca {
    width: 100%;
   
    display: flex;
    flex-direction: row;
}
.navbar {
    width: 100%;
    background-color: #29b6f6;
    display: flex;
    flex-direction: row;
    padding: 0 2rem;
    box-shadow: 0 1px 0 1px  #b3e5fc;
}

/*.foto-nome {
    margin-top: 4px;
    width: 100%;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    color:#000;
    justify-content: space-between;
}
.foto-nome img {
    border-radius: 50px;
   box-shadow: 0 2px 1px 1px #f48fb1;
}*/
.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.link-pagina {
    text-decoration-line: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 8rem;
    align-items: center;
    list-style: none;
}
.linkservico, a {
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-contaner {
    height: 500px;
    width: 95%;
    margin: 1.25rem;
    display: flex;
    flex-direction: row;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}
.text-about-me {
    font-size: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.servi {
    font-size: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.titration {
    font-size: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.profile {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
.serv {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
.especializacao {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
.contabeis {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
.administracao {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
.resumo {
    font-size: 1rem;
    color:#000;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.foto-resumo {
    width: 50%;
    height: 250px;
    border-radius: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.foto-resumo img {
    width: 50%;
    /*height: 500px;*/
    border-radius: 50px;
    box-shadow: 2px 2px 0.5px 0.5px #e1f5fe;
}
.servico {
    display: flex;
    flex-direction: column;
    width: 80%;
    color:#000;
    justify-content: center;
    align-items: center;
}
.conteudo {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#000;
}
.contacts footer {
    position: fixed;
    width: 100%;
    height: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    bottom: 9rem;
}
.contatos {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.sujestao {
    margin: 0;
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 200px;
}
.contato-sujestao {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.name {
    height: 20px;
}
.email {
    height: 20px;
}
.text {
    height: 45px;
}
.btn {
    width: 100%;
}
button {
    border-radius: 10px;
    border: 1px solid #000;
}
.btnenviar {
    background-color: #29b6f6;
    height: 30px;
    width: 100%;
    border: 1px solid #000;
}
.contato {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    
}

.linkinstagram {

}
.cont {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 5rem;
}
.mdi {
    font-size: 3rem;
}
.instagram {
    cursor: pointer;
    color: #FF1493;
}
.linkedin {
    cursor: pointer;
    color: #303f9f;
}
.email-arrow {
    cursor: pointer;
   color: #f44336;
}